@keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
	background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;

	-moz-animation:move-background 70s linear infinite;
	-ms-animation:move-background 70s linear infinite;
	-o-animation:move-background 70s linear infinite;
	-webkit-animation:move-background 70s linear infinite;
	animation:move-background 70s linear infinite;
	
}


.planet{
	height: 100vh;
	width:100vh;
	position: absolute;
	z-index: 3;
	right: -200px;
	top:350;
	animation:rotation 25s infinite;
	opacity: 0.9;
}


@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

h1 {
	font-size: 7vw;
	text-align:left;
	color:white;
	margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Kirang Haerang', cursive;
	letter-spacing: 2px;
}

a.ex1:link{
	font-size: 1vw;
	text-align:left;
	color:#526893;
	margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	left: 15%;
	top:63%;
	animation: tsize 1s infinite;
	text-decoration: none;
}

a.ex1:hover{
	color: #add8e6;
	text-shadow: 2px 2px 8px #add8e6;
	transform: scale(1.5);
}

a.ex1:visited{
	color: #add8e6;
}

a.ex2:link{
	font-size: 1vw;
	text-align:left;
	color:#526893;
	margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	left: 36%;
	top:36%;
	animation: tsize 1s infinite;
	text-decoration: none;
}

a.ex2:hover{
	color: #add8e6;
	text-shadow: 2px 2px 8px #add8e6;
	transform: scale(1.5);
}

a.ex2:visited{
	color: #add8e6;
}


a.ex3:link{
	font-size: 1vw;
	text-align:left;
	color:#526893;
	margin: 0;
	padding: 0;
	font-weight: 900;
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
	left: 50%;
	top:54%;
	animation: tsize 1s infinite;
	text-decoration: none;
}

a.ex3:hover{
	color: #add8e6;
	text-shadow: 2px 2px 8px #add8e6;
	transform: scale(1.5);
}

a.ex3:visited{
	color: #add8e6;
}

.dot1 {
	height: .5vw;
	width: .5vw;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 25%;
	top:60%;
	animation: size 1s infinite;
}
@keyframes shadow{
	50% {box-shadow: 2px 2px 10px orange, 2px 2px 10px yellow, 2px 2px 10px #fed992;}
}

@keyframes size{
	50% {transform: scale(0.5);}
}

@keyframes tsize{
	50% {transform: scale(1.1);}
}

.dot2 {
	height: .5vw;
	width: .5vw;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 40%;
	top:40%;
	animation: size 1s infinite;
}
.p2:hover{
	color: #add8e6;
	text-shadow: 2px 2px 8px #add8e6;
	transform: scale(1.5);
}

.dot3 {
	height: .5vw;
	width: .5vw;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 50%;
	top:50%;
	animation: size 1s infinite;
}
.p3:hover{
	color: #add8e6;
	text-shadow: 2px 2px 8px #add8e6;
	transform: scale(1.5);
}

.line1{
	position: absolute;
	height: 16.5em;
	transform: rotate(60deg);
	left: 32.5%;
	top:31%;
	border-left: 1px solid white;
	animation: shadow 1s infinite;
}
.line2{
	position: absolute;
	height: 10.5em;
	transform: rotate(-65deg);
	left: 45%;
	top:33%;
	border-left: 1px solid white;
	animation: shadow 1s infinite;
}